@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Museo_Slab";
        src: url(../public/fonts/Museo Slab/Museo_Slab_300.woff2);
        font-weight:300;
    }

    @font-face {
        font-family: "Museo_Slab";
        src: url(../public/fonts/Museo Slab/Museo_Slab_500.woff2);
        font-weight:500;
    }

    @font-face {
        font-family: "Museo_Slab";
        src: url(../public/fonts/Museo Slab/Museo_Slab_700.woff2);
        font-weight:700;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-250.woff2);
        font-weight:250;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-300.woff2);
        font-weight:300;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-350.woff2);
        font-weight:350;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-400.woff2);
        font-weight:400;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-450.woff2);
        font-weight:450;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-600.woff2);
        font-weight:600;
    }

    @font-face {
        font-family: "Twk_lausanne";
        src: url(../public/fonts/TWK Lausanne/TWKLausanne-650.woff2);
        font-weight:650;
    }

    html
    {
     @apply desktop:text-[1.67vw]
            laptop:text-[22px]
            tab:text-[20px]
            minitab:text-[18px]
            text-[16px] font-[250]
    }

    body
    {
      @apply text-primaryColors-purple700 bg-primaryColors-cream100  font-Twk   
    }

    .giveborder
    {
        @apply border-[1px] border-[red]
    }

    .givecenter
    {
        @apply flex justify-center items-center min-h-[100vh]
    }
    
    .givelayout
    {
        @apply  desktop:max-w-[100%] desktop:px-[12vw]  
                laptop:px-[100px] laptop:max-w-[1400px]
                minitab:px-[80px]
                px-[20px] mx-[auto]
    } 

    .popup-card{
        @apply desktop:p-[1vw] desktop:rounded-[1vw]
               minitab:p-[16px] 
               p-[10px] bg-primaryColors-cream100 rounded-[12px] relative z-[10]
    }

    .popup-card__dark{
        @apply desktop:p-[1.33vw] desktop:rounded-[1vw]
               minitab:p-[16px] 
               p-[10px] bg-secondaryColors-fadedPurple rounded-[12px] relative z-[10] text-primaryColors-cream100
    }
}

.popup-card
{
    box-shadow:rgba(53,49,72,0.09) 0px 3px 11px 0px;
}

.btn__nav--bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../public/images/landing/btn-nav.svg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.overview__track
{
  scrollbar-width: none;
}

.overview__track::-webkit-scrollbar
{
    display: none;
}

.dropdown__container:hover .dropdown__arrow
{
transform: rotate(180deg);
}

.dropdown__container:hover .dropdown__card
{
    display:block
}

::-webkit-scrollbar-thumb {
    background-color: rgb(183, 189, 198);
    border-radius: 8px;
}

::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 10px;
}

/* *{
   border:1px solid red;
} */

/* 
.ripple
{
    transition: transform .45s,opacity .3s;

    opacity: 0;
}

.btn:hover .ripple
{
   opacity: 1;
   transform:translateY(-50%) scale(1);
   display: block;
   position: absolute;
   width: 100%;
   padding-top: 100%;
   border-radius: 50%;
   background: #eff1e5;
}
 */











